<div class="col-md-6 col-md-offset-3 box">
  <form name="form" ng-submit="vm.login()" role="form">
    <div class="form-actions">
      <p>You're logged in!!</p>
      <h3> Registered user:</h3>
      <a href="#/" class="btn btn-link">My profile</a>
      <a href="#/" class="btn btn-link">Edit profile</a>
    </div>



    <div class="context" >
        First name: {{vm.user.firstName}} <br>
        Last name:{{vm.user.lastName}}<br> 
       Userame : {{vm.user.username}}<br>
  <!--    <a href="#" ng-click="remove(user)">Delete</a>
      <a href="#" ng-click="edit(user)">Edit</a>

      <input type="text" id="name" ng-model="current.firstName" value="{{current.firstName}}" />
      <input type="text" id="lastName" ng-model="current.lastName" value="{{current.lastName}}" />
      
     <button ng-click="save(current)"> Save Edit </button>-->
    <!--  <button ng-click="addNew(current)"> Add New user </button>-->
     


 <!-- <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
<a href="#" ng-click="vm.updateUser(user)">Update</a>-->
      </br>



      Date of registration :
      <p id="demo"></p>
      <script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script> Date of last ediit:
      <div>
        
        <p>&nbsp;</p>
        <p><a href="#/login" class="btn btn-primary">Logout</a></p>
  </form>
  </div>